Language                                       : Cpp
BasedOnStyle                                   : Google
AlignArrayOfStructures                         : Left
AccessModifierOffset                           : -4
AlignConsecutiveAssignments                    : true
AlignConsecutiveBitFields                      : Consecutive
AlignConsecutiveDeclarations                   : Consecutive
AlignConsecutiveMacros                         : Consecutive
AlignEscapedNewlines                           : Left
AllowAllArgumentsOnNextLine                    : true
AllowShortBlocksOnASingleLine                  : false
AllowShortCaseLabelsOnASingleLine              : false
AllowShortEnumsOnASingleLine                   : false
AllowShortFunctionsOnASingleLine               : None
AllowShortIfStatementsOnASingleLine            : false
AllowShortLambdasOnASingleLine                 : Empty
AllowShortLoopsOnASingleLine                   : false
AlwaysBreakTemplateDeclarations                : true
BreakBeforeBraces                              : Allman
BreakBeforeInheritanceComma                    : false
BreakConstructorInitializers                   : AfterColon
BreakConstructorInitializersBeforeComma        : false
BreakInheritanceList                           : AfterColon
LambdaBodyIndentation                          : OuterScope
ColumnLimit                                    : 0
ConstructorInitializerAllOnOneLineOrOnePerLine : true
ConstructorInitializerIndentWidth              : 4
IndentWidth                                    : 4
PackConstructorInitializers                    : Never
MaxEmptyLinesToKeep                            : 1
SortIncludes                                   : false
SpaceBeforeCtorInitializerColon                : true
SpaceBeforeParens                              : Never
Standard                                       : C++11
UseTab                                         : Never
